@import '../../Partials/fonts';
@import '../../Partials/mixins';

.form {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  margin-top: 2rem;
  &__label {
    @include title;
    text-align: left;
  }
  &__input {
    width: 100%;
    height: 100px;
    padding: 0.5rem;
  }
  &__button {
    @include text;
    width: 250px;
    height: 90px;
    margin-top: 0.5rem;
  }
}

